@import './variable';
@import './components';
//--------------------HOME----------------------->
@media(min-width:993px) and (max-width:1295px){
    #content-main .list-invest .img-ivest .info-invest p{
        font-size: 1.2rem;
    }
    #content-main .list-invest .img-ivest .info-invest h2{
        font-size: 1.5rem;
    }
    #content-main .pd-31 {
        padding-top: 28px;
    }
}
@media(max-width:992px){
    #content-main{
        .pd-31{
            padding-top: 28px;
        }
        .list-invest{
            position: static;
            .invest-info{
                min-height: 0;
                padding-top: 15px;
            }
        }
        .project{
            .demo-project{
                position: static;
                .list-demo{
                    padding: 30px 0;
                }
            }
        }
    }
    #content-main .list-invest .img-ivest .info-invest p{
        font-size: 1.2rem;
    }
    #content-main .list-invest .img-ivest .info-invest h2{
        font-size: 1.5rem;
    }
    #content-main .pd-31 {
        padding-top: 28px;
    }
    #news{
        .news-item{
            position: static;
        }
    }
}
@media(max-width:768px){
    .demo-1{
        margin-right: 0;
    }
    .demo-2{
        margin-bottom: 30px;
    }
    .demo-3,.demo-5{
        margin-right: 15px;
    }
}
@media(max-width:575.98px){
   .mobile-none{
       display: none !important;
   }
   .col-xs-12{
       width: 100%;
   }
   .flex-sx-wrap{
       flex-wrap: wrap;
   }
   #content-main .list-invest .invest-item-1{
       background-repeat: no-repeat;
       background-position:  center;
   }
   #content-main .list-invest .invest-item-2{
    background-repeat: no-repeat;
    background-position:  center;
    }
    #content-main .list-invest .invest-item-3{
        background-repeat: no-repeat;
        background-position:  center;
    }
    #content-main .list-invest .invest-item-4{
        background-repeat: no-repeat;
        background-position:  center;
    }
    .project .demo-project .demo-1{
        margin-left: 15px;
    }
    #content-main .project .demo-project .list-demo {
        padding: 30px 10px;
    }
    
}

//--------------------END HOME----------------------->
//--------------------LIBRARY----------------------->
@media(max-width:992px){
    #library{
        .img-3{
            margin-top: 30px;
        }
    }
}
@media(max-width: 768px){
    .video-list{
        .video{
            width: 100%;
        }
    }
}
//--------------------END LIBRARY----------------------->
//--------------------DU AN----------------------->
@media(max-width:992px){
    #list-project{
        margin: 0 20px;
        .pj-item {
            margin: 0;
        }
    }
}
//--------------------LINH VUC DAU TU----------------------->
@media(max-width:992px){
    #investment{
        .text-investment{
            padding-bottom: 2rem;
        }
    } 
}
//--------------------NEWS----------------------->
@media(max-width:992px){
    #highlights-news{
        margin-bottom: 10px;
    }
    .hl-news-info{
        padding-bottom: 1rem;
        margin: 30px 0;
    }
    .bg-pj{
        padding: 20px 0;
    }
    #video-highlight{
        video{
            width: 100%;
        }
    }
}
//--------------------THONG TIN----------------------->
@media(max-width:992px){
    #main-content-info{
        background-image: none;
        .img-block-2{
            padding-bottom: 1.5rem;
            img{
                width: 100%;
            }
        }
        .block-2{
            .text-block-2{
                padding: 0 2rem;
            }
        }
        .block-3{
            padding: 0 20px;
            margin: 0;
            .img-block-3{
                margin-left: 0;
            }
        }
        .block-5{
            .text-block{
                padding: .5rem 1.2rem;
            }
        }
        .block-6{
            img{
                width: 100%;
            }
        }
    }
}
